<nav class="navbar">
	<div class="container">
		<ul class="navbar-list">
			{{ $currentSection := .Section }}
			<li class="navbar-item">
				{{ if isset .Site.Params "logourl"}}
					<a href="{{ .Site.Params.logoUrl }}" class="navbar-logo-link">
						<img src="{{ .Site.Params.logoImage }}">
					</a>
				{{ end }}
			</li>
			<li class="navbar-item">
				<a href="{{ .Site.Home.RelPermalink }}" class="navbar-link {{ if eq $currentSection  "" }}active{{ end }}">Docs</a>
			</li>
			{{ range (sort .Site.Sections ".Weight") }}
				<li class="navbar-item">
					<a href="{{ .Params.linkTo | default .RelPermalink }}" class="navbar-link {{ if ne $currentSection  "" }}{{ if in .Dir $currentSection }}active{{ end }}{{ end }}">{{ .Title }}</a>
				</li>
			{{ end }}

			{{ range .Site.Params.extraNavItems }}
				<li class="navbar-item navbar-right-item">
					<a href="{{ .url }}" class="navbar-link">{{ .title }}</a>
				</li>
			{{ end }}
		</ul>
	</div>
</nav>