<!DOCTYPE html>
<html lang="en">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		{{ partial "navbar" . }}

		<div class="container">
			<main class="home">
				<div class="content">
					<section class="hero"></section>

					<section class="titles">
				      <h1>{{ .Title }}</h1>
				    </section>

					<section class="cards">
						{{ range (sort .Site.Sections ".Weight") }}
							<div class="one-third column">
								<div class="card">
									<h4>{{ .Title }}</h4>
									<p>{{ .Description }}</p>
									<a class="button button-primary" href="{{ .Params.linkTo | default .RelPermalink }}">{{ .Title }} Docs</a>
								</div>
							</div>
						{{ end }}
					</section>

					<section class="links">
						{{ if isset .Params "references" }}
							<h4>Quick references</h4>
							<ul>
								{{ range .Params.references }}
									<li><a href="{{ .url }}" target="_blank">{{ .title }}</a></li>
								{{ end }}
							</ul>
						{{ end }}
					</section>
				</div>
			</div>
		</div>

		{{ partial "footer" . }}
	</body>
</html>
